
.ipynb_checkpoints/Linear Regression Using TensorFlow-checkpoint.ipynb

.ipynb_checkpoints/1. Linear Regression Using TensorFlow-checkpoint.ipynb

.ipynb_checkpoints/2. Logistic Regression Using TensorFlow-checkpoint.ipynb

.ipynb_checkpoints/3. MNIST classification-checkpoint.ipynb

www.ats.ucla.edu/stat/data/binary.csv

*.gz

*.csv
