
.ipynb_checkpoints/Linear Regression Using TensorFlow-checkpoint.ipynb

.ipynb_checkpoints/1. Linear Regression Using TensorFlow-checkpoint.ipynb

.ipynb_checkpoints/2. Logistic Regression Using TensorFlow-checkpoint.ipynb
